/*ANIMACIONES*/
/*ESTO ES PARA LA PANTALLA DE CARGA DE TODOS LOS HTML*/
@keyframes carga {
  0% {
    opacity: 0.08;
    font-size: 40px;
    font-weight: 400;
    filter: blur(5px);
    letter-spacing: 3px;
  }
  100% {
    opacity: 0.7;
    font-size: 60px;
    font-weight: 600;
    filter: blur(2);
  }
}
#animate {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 350px;
  font-size: 26px;
  font-family: Helvetica, sans-serif, Arial;
  animation: carga 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*RGB BAR*/
#rgbar {
  background: #ff0059;
  background: -webkit-linear-gradient(45deg, red 0%, fuchsia 18%, blue 30%, #00f0ff 45%, lime 63%, yellow 80%, #ff7800 90%, red 100%);
  background: -moz-linear-gradient(45deg, red 0%, fuchsia 18%, blue 30%, #00f0ff 45%, lime 63%, yellow 80%, #ff7800 90%, red 100%);
  background: -ms-linear-gradient(45deg, red 0%, fuchsia 18%, blue 30%, #00f0ff 45%, lime 63%, yellow 80%, #ff7800 90%, red 100%);
  background: -o-linear-gradient(45deg, red 0%, fuchsia 18%, blue 30%, #00f0ff 45%, lime 63%, yellow 80%, #ff7800 90%, red 100%);
  background: linear-gradient(45deg, red 0%, fuchsia 18%, blue 30%, #00f0ff 45%, lime 63%, yellow 80%, #ff7800 90%, red 100%);
  background-size: 400% 400%;
  animation: rgbBg 20s linear infinite;
  -moz-animation: rgbBg 20s linear infinite;
  -webkit-animation: rgbBg 20s linear infinite;
  height: 7px;
  position: relative;
  top: -20%;
  margin: 0px;
  padding: 0px;
}

#rgbar.active {
  position: fixed;
  top: 63px;
  width: 100%;
  z-index: 10;
}

.hyperx-land #rgbar.active {
  top: 61px;
}

#rgbar::before {
  content: "";
  width: 0;
  transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
}

#rgbar.act::before {
  background: var(--accent);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
}

@keyframes rgbBg {
  0% {
    background-position: 400% 0%;
  }
  100% {
    background-position: 0% 400%;
  }
}
@-moz-keyframes rgbBg {
  0% {
    background-position: 400% 0%;
  }
  100% {
    background-position: 0% 400%;
  }
}
@-webkit-keyframes rgbBg {
  0% {
    background-position: 400% 0%;
  }
  100% {
    background-position: 0% 400%;
  }
}
/*ANIMACION FOOTER*/
@keyframes runMe {
  0% {
    background-color: rgba(0, 0, 0, 0.01);
    bottom: 0px;
  }
  10% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  20% {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 30px;
  }
  30% {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 30px;
  }
  40% {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 30px;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 30px;
  }
  60% {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 50px;
  }
  70% {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 30px;
  }
  80% {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 30px;
  }
  90% {
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 50px;
  }
  100% {
    background-color: black;
    bottom: 80px;
  }
}
/*ANIMACION ESTUDUIOS*/
@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-5px);
  }
  20% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(-15px);
  }
  40% {
    transform: translateY(-20px);
  }
}
.body__ambiciones {
  background-color: #3877ff;
  background-size: 100%;
  padding: 0px;
  margin: 0px;
}

.header__ambiciones {
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.575);
}

.button__ambiciones {
  width: 50px;
  height: 20px;
  background-color: blue;
  box-shadow: 15px;
}

.figure__ambiciones {
  position: relative;
  width: 0.25%;
  top: -505%;
}

.h1__ambiciones {
  color: white;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.p__ambiciones {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
  text-align: justify;
}

.div__ambiciones {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  background-color: #3877ff;
}

.nav__ambiciones {
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
}

.footer__ambiciones {
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  background-color: midnightblue;
  border: 20px solid #ff0059;
}

.a__ambiciones {
  color: aliceblue;
  text-align: end;
  font-family: "Times New Roman", Times, serif;
}

.form__ambiciones {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(56, 119, 255, 0.123);
  padding: 20px;
  box-shadow: black 5px 5px 55px;
  float: right;
  border: 20px 10px solid #ff0059;
  top: -100%;
  position: relative;
}

.li__ambiciones {
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: maroon;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  border: #ff0059 7px;
}

.button__ambiciones {
  height: 40px;
}

.imagen__ambiciones {
  width: 100%;
  height: 600px;
}

.title__ambiciones {
  padding-left: 25px;
  font-size: 36px;
  font-weight: bold;
}

.texto__ambiciones {
  font-size: 24px;
  color: rgba(8, 8, 8, 0.664);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  padding-left: 50px;
}

.clearfix__ambiciones {
  clear: both;
}

.footerEnPartes__ambiciones {
  width: 1400px;
  float: left;
  height: auto;
  background-color: midnightblue;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.links__ambiciones {
  text-decoration: none;
  color: #0099ff #33adff;
}

.pFooter__ambiciones {
  color: mintcream;
  letter-spacing: 5px;
  font-size: large;
}

.copyrightFooter__ambiciones {
  font-family: sans-serif;
  font-style: italic;
  padding: 70px;
  margin: 0px;
  animation-name: runMe;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.pCopy__ambiciones {
  color: blanchedalmond;
  font-size: large;
  text-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: 0;
  background-color: red;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#myBtn:hover {
  background-color: #555;
}

.body__contacto {
  height: 96vh;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: left;
  background: white;
  overflow: hidden;
  background-image: url("https://i0.wp.com/wallpapershome.com/images/wallpapers/switzerland-1920x1080-4k-5k-wallpaper-alps-mountains-stars-night-5713.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.html__contacto {
  height: 96vh;
  background-color: #111;
  color: white;
}

.wrapper {
  width: 20%;
  margin: auto;
  align-self: center;
  justify-self: center;
  top: 50%;
  overflow: hidden;
}

.header__contacto {
  background: black;
  width: 100%;
  height: 7%;
  position: fixed;
  z-index: 10;
  top: 0px;
}

.nav__contacto {
  float: left;
}
.nav__contacto .ul__contacto {
  list-style: none;
  overflow: hidden;
}
.nav__contacto .ul__contacto .li__contacto {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 100%;
}
.nav__contacto .ul__contacto .li__contacto .a__contacto {
  display: block;
  padding: 10%;
  color: #fff;
  text-decoration: none;
}
.nav__contacto .ul__contacto .li__contacto:hover {
  background: #1841f8;
}

.info__contacto {
  text-decoration: none;
  color: black;
}

.ul__contacto2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  align-items: left;
  top: 30%;
}
.ul__contacto2 .li__contacto2 {
  list-style: none;
}
.ul__contacto2 .li__contacto2:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 500%;
  transform: translate(-50%, -50%);
  color: #edff4d;
  font-size: 6em;
  opacity: 0;
  font-weight: 700;
  pointer-events: none;
  letter-spacing: 25px;
  transition: 0.5s;
  white-space: nowrap;
  align-content: center;
  justify-content: center;
}
.ul__contacto2 .li__contacto2:hover:before {
  opacity: 0.75;
  letter-spacing: 0px;
  align-content: center;
  justify-content: center;
}
.ul__contacto2 .li__contacto2 .info__contacto {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.2px;
  overflow: hidden;
  background: cornsilk;
  z-index: 1;
  transition: 0.3s;
}
.ul__contacto2 .li__contacto2 .info__contacto:hover {
  transform: scale(1.4);
  z-index: 1000;
  background: #c8ff00;
  opacity: 1;
}
.ul__contacto2 .li__contacto2 .info__contacto:hover:before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.4s;
}
.ul__contacto2 .li__contacto2 .info__contacto:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.493), transparent);
  transform: skewX(45deg);
  transition: 0.5s;
}
.ul__contacto2:hover .li__contacto2 .info__contacto {
  opacity: 0;
}

.map__contacto {
  position: relative;
  top: 600px;
  left: 1500px;
  padding: 50px;
}

.h3__contacto {
  font-size: 1.5em;
  padding-bottom: 0px;
}

.pFooter__contacto {
  color: mintcream;
  letter-spacing: 5px;
  font-size: large;
}

.copyrightFooter__contacto {
  font-family: sans-serif;
  position: relative;
  top: 89.5%;
  font-style: italic;
  padding: 70px;
  margin: 0px;
  animation-name: runMe;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.pCopy__contacto {
  color: blanchedalmond;
  font-size: large;
  text-align: center;
}

.body__estudios {
  margin: 0;
}

#video {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 100px;
  margin: 0;
}

.video__estudios video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  pointer-events: none;
  margin: 0;
}

.h1__estudios {
  position: relative;
  color: white;
  font-size: 4em;
  padding-left: 7.5px;
}

.letras__estudios {
  color: aliceblue;
  font-size: 2em;
  text-decoration: none;
  padding-left: 25px;
}

.home__estudios {
  position: relative;
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.2px;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(207, 48, 255, 0.815), #0b41f3);
  z-index: 1;
  text-align-last: center;
  margin-bottom: 25px;
  margin-left: 1000px;
  color: white;
  justify-content: center;
}

.portfolio__estudios {
  font-size: large;
  color: aliceblue;
  width: 150px;
  height: 40px;
  align-content: center;
  text-decoration: none;
}

.links__estudios {
  text-decoration: none;
  color: #00e1ff #00b4cc;
}

.titulos__estudios {
  color: aliceblue;
  font-size: 1.75em;
}

.onda__estudios {
  position: relative;
  padding-left: 50px;
}
.onda__estudios span {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 1em;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.04s * var(--i));
  margin: left 50px;
}

.body__quienSoy {
  background: #0a2a43;
  min-height: 1500px;
  margin: 0px;
}

.claire-de-lune__quienSoy {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.claire-de-lune__quienSoy:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 1000;
}
.claire-de-lune__quienSoy:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 1000;
  mix-blend-mode: color;
}
.claire-de-lune__quienSoy img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.section_2__quienSoy {
  font-size: medium;
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

#text {
  position: relative;
  color: cornsilk;
  font-size: 10em;
  z-index: 1;
}

#road {
  z-index: 2;
}

.wrapper {
  width: 20%;
  margin: auto;
  align-self: center;
  justify-self: center;
  top: 50%;
  overflow: hidden;
}

.header__quienSoy {
  background: black;
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 10000;
  top: 0px;
}

.nav__quienSoy {
  float: left;
}
.nav__quienSoy .ul__quienSoy {
  list-style: none;
  overflow: hidden;
}
.nav__quienSoy .ul__quienSoy .li__quienSoy {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.nav__quienSoy .ul__quienSoy .li__quienSoy .a__quienSoy {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav__quienSoy .ul__quienSoy .li__quienSoy:hover {
  background: #1841f8;
}

.h1__quienSoy {
  color: cornsilk;
  font-size: 6em;
}

.p__quienSoy {
  color: cornsilk;
  font-size: 1.5em;
}

.link1__quienSoy {
  text-decoration: none;
  color: cyan;
}

.a__quienSoy2 {
  font-size: large;
  color: aliceblue;
  width: 150px;
  height: 60px;
  align-content: center;
  justify-content: center;
  background: linear-gradient(to end, blue, red);
}

.li__quienSoy {
  height: 70px;
  margin-right: 0px;
  text-align: center;
}

.ul__quienSoy .li__quienSoy .a__quienSoy2 {
  position: relative;
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.2px;
  overflow: hidden;
  background: linear-gradient(90deg, transparent, rgba(55, 210, 248, 0.815), #0b41f3);
  z-index: 1;
  text-decoration: none;
  text-align-last: center;
}

.negrita__quienSoy {
  margin-bottom: 25px;
  margin-top: 25px;
  color: aliceblue;
  font-size: 1.8em;
}

/*MOBILE FIRST*/
@media only screen and (max-width: 320px) {
  #text {
    font-size: 3em;
    margin: 5px;
  }

  .h1__quienSoy {
    font-size: 2em;
    text-align: center;
    margin-right: 20px;
  }

  .p__quienSoy {
    font-size: 12px;
    text-align: left;
    margin-right: 45px;
  }

  .navbar-brand {
    padding-left: 7px;
  }
}
@media only screen and (max-width: 375px) {
  .navbar-brand {
    padding-left: 7px;
  }

  #text {
    font-size: 4em;
    margin: 20px;
  }

  .h1__quienSoy {
    font-size: 3em;
    text-align: center;
    margin-right: 10px;
    align-items: center;
  }

  .p__quienSoy {
    font-size: 12px;
    text-align: left;
    margin-right: 15px;
    padding-left: 1px;
    align-items: center;
  }

  .negrita__quienSoy {
    padding-left: 5px;
  }
}
@media only screen and (max-width: 425px) {
  .navbar-brand {
    padding-left: 17px;
  }

  #text {
    font-size: 4em;
    margin: 20px;
  }

  .h1__quienSoy {
    font-size: 3em;
    text-align: center;
    margin-right: 10px;
    align-items: center;
  }

  .p__quienSoy {
    font-size: 12px;
    text-align: left;
    margin-right: 15px;
    padding-left: 10px;
    align-items: center;
  }

  .negrita__quienSoy {
    padding-left: 8px;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    padding-left: 37px;
  }

  #text {
    font-size: 4em;
    margin: 20px;
  }

  .h1__quienSoy {
    font-size: 3em;
    text-align: center;
    margin-right: 10px;
    align-items: center;
  }

  .p__quienSoy {
    font-size: 18px;
    text-align: left;
    margin-right: 15px;
    padding-left: 10px;
    align-items: center;
  }

  .negrita__quienSoy {
    padding-left: 8px;
    align-items: center;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar-brand {
    padding-left: 57px;
  }

  #navbarNav {
    padding-left: 450px;
  }

  #text {
    font-size: 4em;
    margin: 20px;
  }

  .h1__quienSoy {
    font-size: 3em;
    text-align: center;
    margin-right: 10px;
    align-items: center;
  }

  .p__quienSoy {
    font-size: 18px;
    text-align: left;
    margin-right: 15px;
    padding-left: 20px;
    align-items: center;
  }

  .negrita__quienSoy {
    padding-left: 18px;
    align-items: center;
  }
}
@media only screen and (max-width: 1440px) {
  .navbar-brand {
    padding-left: 97px;
  }

  #navbarNav {
    padding-left: 750px;
  }

  #text {
    font-size: 4em;
    margin: 20px;
  }

  .h1__quienSoy {
    font-size: 3em;
    text-align: center;
    margin-right: 10px;
    align-items: center;
  }

  .p__quienSoy {
    font-size: 18px;
    text-align: left;
    margin-right: 15px;
    padding-left: 20px;
    align-items: center;
  }

  .negrita__quienSoy {
    padding-left: 18px;
    align-items: center;
  }
}
@media only screen and (max-width: 2560px) {
  .navbar-brand {
    padding-left: 257px;
    font-size: 4em;
  }

  #navbarNav {
    padding-left: 1450px;
    font-size: 1.5em;
  }

  #text {
    font-size: 12em;
    margin: 20px;
  }

  .h1__quienSoy {
    font-size: 6em;
    text-align: center;
    margin-right: 10px;
    align-items: center;
  }

  .p__quienSoy {
    font-size: 38px;
    text-align: left;
    margin-right: 15px;
    padding-left: 20px;
    align-items: center;
  }

  .negrita__quienSoy {
    padding-left: 18px;
    align-items: center;
    font-size: 58px;
  }

  .pCopy__ambiciones {
    font-size: 3em;
  }
}
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*=col-] {
  float: left;
  padding: 15px;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*=col-] {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  margin: 0% auto;
  max-width: 2560px;
  min-width: 320px;
  box-sizing: border-box;
  height: 96vh;
  display: grid;
  justify-content: left;
  background: white;
  overflow: hidden;
  background-image: url(../multimedia/index/3295969.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#menuPricipal__index {
  width: 25%;
  float: left;
  padding: 15px;
  top: 50%;
  background-color: #0099ff;
}
#menuPricipal__index ul {
  position: absolute;
  display: grid;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  left: 2.5%;
  top: 40%;
  width: 25%;
  z-index: 1;
}
#menuPricipal__index ul li {
  list-style: none;
}
#menuPricipal__index ul li:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 550%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 7em;
  opacity: 0;
  font-weight: 700;
  pointer-events: none;
  letter-spacing: 1%;
  transition: 0.5s;
  white-space: nowrap;
  z-index: 2;
}
#menuPricipal__index ul li:hover:before {
  opacity: 0.35;
  letter-spacing: 0.25px;
}
#menuPricipal__index ul li #menu__index {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.2px;
  overflow: hidden;
  background: cornsilk;
  z-index: 1;
  transition: 0.3s;
}
#menuPricipal__index ul li #menu__index:hover {
  transform: scale(1.4);
  z-index: 1000;
  background: aqua;
  opacity: 1;
}
#menuPricipal__index ul li #menu__index:hover:before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.4s;
}
#menuPricipal__index ul li #menu__index:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.493), transparent);
  transform: skewX(45deg);
  transition: 0.5s;
}
#menuPricipal__index ul:hover li #menu__index {
  opacity: 0;
}

.contenedor {
  height: 96vh;
  background-color: #111;
  color: white;
  display: grid;
  justify-content: left;
  background: white;
  overflow: hidden;
  background-image: url(../multimedia/index/3295969.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/*# sourceMappingURL=style.css.map */
