$links: ( /*Declaramos nuestro mapa*/
        ambiciones: #1198ff,
        estudios:rgb(0, 225, 255)
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $link, $color in $links {
   .links__#{$link} {
       background-color: $color;
   }
}
