* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body__quienSoy {
    background: #0a2a43;
    min-height: 1500px;
}

.header {
    background: black;
}

.header nav{
    background-color: black;
}

/*CSS QUIEN SOY*/
#navbarNav{
    padding-left: 1300px;
}
.claire-de-lune__quienSoy {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.claire-de-lune__quienSoy:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 1000;
}

.claire-de-lune__quienSoy:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 1000;
    mix-blend-mode: color;
}

.claire-de-lune__quienSoy img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.section_2__quienSoy {
    font-size: medium;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}

#text {
    position: relative;
    color: cornsilk;
    font-size: 10em;
    z-index: 1;
}

#road {
    z-index: 2;
}

.section_2__quienSoy {
    font-size: medium;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}

.h1__quienSoy {
    color: cornsilk;
    font-size: 6em;
}

.p__quienSoy {
    color: cornsilk;
    font-size: 1.5em;
}

.negrita__quienSoy {
    margin-bottom: 25px;
    margin-top: 25px;
    color: aliceblue;
    font-size: 1.8em;
}