/*PRESENTACION PRODUCTOS*/
body {
	background-image: url(../multimedia/index/3295969.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	padding: 10px;
}
p {
	color: rgb(173, 173, 173);
	font-family: 'Times New Roman', Times, serif;
	font-size: normal;
}
header {
	border: 5px;
	padding: 28px;
	border: 7px solid rgb(252, 255, 95);
	border-radius: 5px;
	box-shadow: black 5px 5px 24px;
}
.user_input {
	font-size: large; 
	color: antiquewhite;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	left: 1750px;
	top: 5px;
	width: 75px;
	font-weight: 700;
	margin: 0%;
	z-index: 99999;
}
#btn1 {
	margin: 2px;
	top: -25px;
	left: 80%;
	position: relative;
	z-index: 9999;
}
#nombre {
	margin: 2px;
	top: -25px;
	left: 80%;
	position: relative;
	z-index: 9999;
}
footer {
	color: rgb(255, 255, 255);
	background-color: rgba(32, 32, 32, 0.603);
	padding: 28px;
	border: 7px groove rgb(255, 187, 0);
	box-shadow: black 5px 5px 24px;
}
a {
	color: rgb(255, 255, 255);
}
li {
	color: aliceblue;
}
.h1 {
	margin-left: 25px;
	top: 50px;
	position: relative;
	color: azure;
}
.imagenes {
	border-image: 15px;
	width: 600px;
	height: 375px;
}
.content {
	width: 1000px;
	background-color: rgba(255, 255, 0, 0.26);
	float: left;
	h2 {
		font-family: 'Times New Roman', Times, serif;
		font-style: oblique;
		color: rgb(255, 255, 255);
		text-decoration: none;
	}
}
.contentholder {
	background-color: rgba(255, 255, 0, 0.26);
}
.clearfix {
	clear: both;
	border: none;
	padding: none;
	background-color: rgb(252, 255, 95);
	box-shadow: none;
}
.show-cart {
	li {
		display: flex;
	}
}
.card {
	margin-bottom: 20px;
}
.card-img-top {
	width: 200px;
	height: 200px;
	align-self: center;
}
.container {
	margin-top: 75px;
}
#demo {
	color: aliceblue;
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	margin: 15px;
}
