@import '_animaciones';
@import'_ambiciones';
@import'_contacto';
@import'_estudios';
@import'_quienSoy'; 
@import'_mobileFirst';
// MOBILE FIRST

/*INDEX*/
/*HEADER*/
.contenedor {
	display: grid;
	justify-content: left;
	min-height: 100vh;
	background: white;
	overflow: hidden;
	background-image: url(../multimedia/index/3295969.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.header__index {
	position: absolute;
	color: transparent;
	width: 0px;
	height: 0px;
	font-size: 0px;
}
.guide {
	color: transparent;
	width: 0px;
	height: 0px;
}
.menuPricipal__index {
	width: 25%;
	float: left;
	padding: 15px;
	ul {
		position: absolute;
		display: grid;
		flex-direction: column;
		align-self: flex-start;
		justify-content: center;
		left: 7.5%;
		top: 40%;
		li {
			list-style: none;
			&:before {
				content: attr(data-text);
				position: absolute;
				top: 50%;
				left: 550%;
				font-size: 7em;
				transform: translate(-50%, -50%);
				color: white;
				opacity: 0;
				font-weight: 700;
				pointer-events: none;
				letter-spacing: 25px;
				transition: 0.5s;
				white-space: nowrap;
			}
			&:hover {
				&:before {
					opacity: 0.35;
					letter-spacing: 5px;
				}
			}
			.menu__index {
				position: relative;
				display: inline-block;
				padding: 10px 40px;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 2.2px;
				overflow: hidden;
				background: cornsilk;
				z-index: 1;
				transition: 0.3s;
				&:hover {
					transform: scale(1.4);
					z-index: 1000;
					background: aqua;
					opacity: 1;
					&:before {
						left: calc(100% + 100px);
						transition: 0.5s;
						transition-delay: 0.4s;
					}
				}
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100px;
					height: 100%;
					background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.493), transparent);
					transform: skewX(45deg);
					transition: 0.5s;
				}
			}
		}
		&:hover {
			li {
				.menu__index {
					opacity: 0;
				}
			}
		}
	}
}
