/*ANIMACIONES*/
/*ESTO ES PARA LA PANTALLA DE CARGA DE TODOS LOS HTML*/
@keyframes carga {
    0% {
        opacity: 0.08;
        font-size: 40px;
        font-weight: 400;
        filter: blur(5px);
        letter-spacing: 3px;
    }

    100% {
        opacity: 0.7;
        font-size: 60px;
        font-weight: 600;
        filter: blur(2);
    }
}

#animate {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin: auto;
    width: 350px;
    font-size: 26px;
    font-family: Helvetica, sans-serif, Arial;
    animation: carga 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*CSS*/

body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/49/85/15585be5299525a.jpg);
    width: 100%;
    height: 96vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.px375{
    display: none;
}
.px425{
    display: none;
}.px768{
    display: none;
}.px1024{
    display: none;
}.px1440{
    display: none;
}
  
  header{
      top: 0;
      left: 0;
      width: 100%;
      height:55px;
      background-color: black;
  }
  #navbarNav{
    padding-left: 1350px;
    font-size: 1.2em;
    color: azure;
}
 /**/ 
  main .ul__contacto2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    top: 250px;
    left: 0px;
    width: 250px;
    height: 300px;
  }
  main .ul__contacto2 .li__contacto2 {
    list-style: none;
    width: 177.89px;
    height: 44px;
  }
  main .ul__contacto2 .li__contacto2:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 650px;
    transform: translate(-50%, -50%);
    color: #edff4d;
    font-size: 4em;
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
    letter-spacing: 25px;
    transition: 0.5s;
    white-space: nowrap;
    align-content: center;
    justify-content: center;
  }
  main .ul__contacto2 .li__contacto2:hover:before {
    opacity: 0.75;
    letter-spacing: 0px;
    align-content: center;
    justify-content: center;
  }
  .info__contacto{
      color: azure;
      margin: 5px;
  }
  main .ul__contacto2 .li__contacto2 .info__contacto {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px 40px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.2px;
    overflow: hidden;
    background: rgb(0, 10, 151);
    z-index: 1;
    transition: 0.3s;
  }
  main .ul__contacto2 .li__contacto2 .info__contacto:hover {
    transform: scale(1.4);
    z-index: 1000;
    background: #c8ff00;
    opacity: 1;
  }
  main .ul__contacto2 .li__contacto2 .info__contacto:hover:before {
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.4s;
  }
  main .ul__contacto2 .li__contacto2 .info__contacto:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.493), transparent);
    transform: skewX(45deg);
    transition: 0.5s;
  }
  main .ul__contacto2:hover .li__contacto2 .info__contacto {
    opacity: 0;
  }
  /*ASIDE*/
  aside ul{
    display: none;
    width: 0;
    height: 0;
}
/*animacion aside*/
@keyframes animate {
    0% {
      transform: translateY(0px);
    }
    10% {
      transform: translateY(-2.5px);
    }
    20% {
      transform: translateY(-5px);
    }
    30% {
      transform: translateY(-7.5px);
    }
    40% {
      transform: translateY(-10px);
    }
  }
  /*section*/
  section{
    padding-top: 30px;
    align-items: center;
    left: 0px;
    margin: 0;
    width: 900px;
  }
  section h1{
    position: relative;
    color: azure;
    float: right;
    right: -300px;
    width:400px;
    padding-top: 0px;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    top: -145px;

  }
   iframe {
        position: relative;
        float: right;
        padding: 25px;
        top: -123px;
        right: -712px;
}
  
  /*FOOTER*/
  /*ANIMACION FOOTER*/

  @keyframes runMe {
    0% {
        background-color: rgba(0, 0, 0, 0.01);
    }
    10% {
        background-color: rgba(0, 0, 0, 0.1)
    }
    20% {
        background-color: rgba(0, 0, 0, 0.2);
    }
    30% {
        background-color: rgba(0, 0, 0, 0.3);
    }
    40% {
        background-color: rgba(0, 0, 0, 0.4);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.5);
    }
    60% {
        background-color: rgba(0, 0, 0, 0.6);
    }
    70% {
        background-color: rgba(0, 0, 0, 0.7);
    }
    80% {
        background-color: rgba(0, 0, 0, 0.8);
    }
    90% {
        background-color: rgba(0, 0, 0, 0.9);
    }
    100% {
        background-color: black;
    }
}
  .copyrightFooter__contacto {
    font-family: sans-serif;
    font-style: italic;
    padding:50px;
    margin: 0px;
    animation-name: runMe;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 59px;
  }
  
  .pCopy__contacto {
    color: blanchedalmond;
    font-size: large;
    text-align: center;
  }
/*MOBILE FIRST*/
@media only screen and (max-width:320px){
    .contenedor__total{
        padding: 0px;
        margin: 0px;
        background-color: rgba(253, 253, 99, 0.89);
        background-image: none;
        height: 100%;
    }
    header .navbar{
        padding: 0px;
    }
    #navbarNav{
        width: 100%;
        padding-left: 15px;
        font-size: 0.8em;
        color: white;
        position: relative;
        left: 0px;
        background-color: black;
    }
    .navbar-brand{
        padding-left: 7px;
    }
    #animate{
        width: 320px;
        left: 0;
    }
    /*main*/
    main .ul__contacto2{
        display: none;
    }
    /*aside*/
    aside ul{
        display: inline-block;
        top: 0;
        width: 320px;
        height: 75px;
        text-decoration: wavy;
        padding-top: 10px;
        color: black;
    }
    aside ul li{
        padding: 0px;
        z-index: 1000;
    }
    li span {
        position: relative;
        display: inline-block;
        color: rgb(0, 0, 0);
        font-size: 1em;
        animation: animate 1s ease-in-out infinite;
        animation-delay: calc(0.04s * var(--i));
        margin: left 50px;
      }
    /*section*/
    .h1__quienSoy{
        left: 50px;
        top: 50px;
        color: black;
        align-content: center;
        width: 320px;
    }
    iframe{
        align-content: center;
        width: 300px;
        height: 200px;
        left: 10px;
        top:20px;
        color: black;
    }
    /*FOOTER*/
    .copyrightFooter__contacto{
        bottom: 0;
    }
}

@media only screen and (max-width:375px){
    .contenedor__total{
        padding: 0px;
        margin: 0px;
        background-color: rgba(255, 184, 103, 0.89);
        background-image: none;
        height: 100%;
    }
    header .navbar{
        padding: 0px;
    }
    #navbarNav{
        width: 100%;
        padding-left: 15px;
        font-size: 0.8em;
        color: white;
        position: relative;
        left: 0px;
        background-color: black;
    }
    .navbar-brand{
        padding-left: 7px;
    }
    #animate{
        width: 320px;
        left: 0;
    }
    /*main*/
    main .ul__contacto2{
        display: none;
    }
    /*aside*/
    aside ul{
        display: inline-block;
        top: 0;
        width: 320px;
        height: 75px;
        text-decoration: wavy;
        padding-top: 10px;
        z-index: 1000;
        color: black;
    }
    aside ul li{
        padding: 0px;
        z-index: 1000;
    }
    li span {
        position: relative;
        display: inline-block;
        color: rgb(0, 0, 0);
        font-size: 1em;
        animation: animate 1s ease-in-out infinite;
        animation-delay: calc(0.04s * var(--i));
        margin: left 50px;
      }
    /*section*/
    .h1__quienSoy{
        left: 50px;
        top: 50px;
        color: black;
        align-content: center;
    }
    iframe{
        align-content: center;
        width: 300px;
        height: 200px;
        left: 10px;
        top:20px;
        color: black;
    }
    /*FOOTER*/
    .copyrightFooter__contacto{
        bottom: 0;
    }
}
@media only screen and (max-width:425px){
    .contenedor__total{
        padding: 0px;
        margin: 0px;
        background-color: rgb(71, 221 ,252 , 97%);
        background-image: none;
        height: 100%;
    }
    header .navbar{
        padding: 0px;
    }
    #navbarNav{
        width: 100%;
        padding-left: 15px;
        font-size: 0.8em;
        color: white;
        position: relative;
        left: 0px;
        background-color: black;
    }
    .navbar-brand{
        padding-left: 7px;
    }
    #animate{
        width: 320px;
        left: 0;
    }
    /*main*/
    main .ul__contacto2{
        display: none;
    }
    /*aside*/
    aside ul{
        display: inline-block;
        top: 0;
        width: 320px;
        height: 75px;
        text-decoration: wavy;
        padding-top: 10px;
        z-index: 1000;
        color: black;
    }
    aside ul li{
        padding: 0px;
        z-index: 1000;
    }
    li span {
        position: relative;
        display: inline-block;
        color: rgb(0, 0, 0);
        font-size: 1em;
        animation: animate 1s ease-in-out infinite;
        animation-delay: calc(0.04s * var(--i));
        margin: left 50px;
      }
    /*section*/
    .h1__quienSoy{
        left: 50px;
        top: 50px;
        color: black;
        align-content: center;
    }
    iframe{
        align-content: center;
        width: 300px;
        height: 200px;
        left: 10px;
        top:20px;
        color: black;
    }
    /*FOOTER*/
    .copyrightFooter__contacto{
        bottom: 0;
    }
}
@media only screen and (max-width:768px){
    .contenedor__total{
        padding: 0px;
        margin: 0px;
        height: 100%;
    }
    header .navbar{
        padding: 0px;
    }
    #navbarNav{
        width: 100%;
        padding-left: 15px;
        font-size: 0.8em;
        color: white;
        position: relative;
        left: 0px;
        background-color: black;
    }
    .navbar-brand{
        padding-left: 7px;
    }
    #animate{
        width: 320px;
        left: 0;
    }
    /*main*/
    main .ul__contacto2{
        top: 120;
        left: -30px;
    }
    main .ul__contacto2 .li__contacto2:before{
        left: 500px;
        font-size: 2.7em;
    }
    /*section*/
    .h1__quienSoy{
        left: 50px;
        top: 50px;
        color: rgb(255, 255, 255);
        align-content: center;
    }
    iframe{
        align-content: center;
        width: 300px;
        height: 200px;
        left: 10px;
        top:20px;
        color: black;
    }
    /*FOOTER*/
    .copyrightFooter__contacto{
        bottom: 0;
    }
}
@media only screen and (max-width:1024px){
    .contenedor__total{
        padding: 0px;
        margin: 0px;
        height: 827px;
    }
    header .navbar{
        padding: 0px;
    }
    #navbarNav{
        width: 100%;
        padding-left: 600px;
        font-size: 0.8em;
        color: white;
        position: relative;
        left: 0px;
        background-color: black;
    }
    .navbar-brand{
        padding-left: 7px;
    }
    #animate{
        width: 320px;
        left: 0;
    }
    /*main*/
    main .ul__contacto2{
        top: 0;
        left: -30px;
        height: 220px;
    }
    main .ul__contacto2 .li__contacto2:before{
        left: 600px;
        font-size: 3em;
    }
    /*section*/
    .h1__quienSoy{
        left: 50px;
        top: 50px;
        color: rgb(255, 255, 255);
        align-content: center;
        font-size: 1.4em;
    }
    iframe{
        align-content: center;
        width: 450px;
        height: 300px;
        left: 410px;
        top:70px;

    }
    /*FOOTER*/
    .copyrightFooter__contacto{
        bottom: -60px;
    }
}
@media only screen and (max-width:1440px){
    body{
        padding: 0px;
        margin: 0px;
    }
    .navbar-brand{
        padding-left: 0px;
        font-size: 2em;
    }
    #navbarNav{
        padding-left: 850px;
    }
    #text {
        font-size: 4em;
        margin:20px;
    }

    .h1__quienSoy {
        font-size: 3em;
        text-align: center;
        margin-right: 10px;
        align-items: center;
    }
    .p__quienSoy{
        font-size: 18px;
        text-align: left;
        margin-right: 15px;
        padding-left: 20px;
        align-items: center;
    }
    .negrita__quienSoy{
        padding-left: 18px;
        align-items: center;
    }
}