/*ESTO ES PARA LA PANTALLA DE CARGA DE TODOS LOS HTML*/
@keyframes carga {
    0% {
        opacity: 0.08;
        font-size: 40px;
        font-weight: 400;
        filter: blur(5px);
        letter-spacing: 3px;
    }

    100% {
        opacity: 0.7;
        font-size: 60px;
        font-weight: 600;
        filter: blur(2);
    }
}

#animate {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin: auto;
    width: 350px;
    font-size: 26px;
    font-family: Helvetica, sans-serif, Arial;
    animation: carga 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*CSS GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background: black;
}

.header nav{
    background-color: black;
    z-index: 1000;
}

#navbarNav{
    padding-left: 1650px;
    font-size: 1.5em;
}
/*CSS*/
.contenedor__total {
    margin: 0;
    background-image: url(../multimedia/estudios/0-2645_top-galaxy-wallpaper-blue-galaxy-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  #video {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 100px;
    margin: 0;
  }
  
  .video__estudios video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    pointer-events: none;
    margin: 0;
  }
  
  .h1__estudios {
    position: relative;
    color: white;
    font-size: 4em;
    padding-left: 7.5px;
  }
  .titulos__estudios {
    color: aliceblue;
    font-size: 1.5em;
  }
  .letras__estudios {
    color: aliceblue;
    font-size: 1.7em;
    text-decoration: none;
    padding-left: 25px;
  }
  
  
  .links_estudios {
    text-decoration: none;
    color:  #cc8b00;
  }
  
  .portfolio__estudios {
    font-size: large;
    color: aliceblue;
    width: 150px;
    height: 40px;
    align-content: center;
    text-decoration: none;
  }
  
  
  .onda__estudios{
    position: relative;
    padding-left: 50px;
}
.onda__estudios span{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 1em;
    animation: animate_estudios 1s ease-in-out infinite;
    animation-delay: calc(0.04s * var(--i));
    margin: left 50px;
}
@keyframes animate_estudios{
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(-5px);
    }
    20%{
        transform: translateY(-10px);
    }
    30%{
        transform: translateY(-15px);
    }
    40%{
        transform: translateY(-20px);
    }
}
/*FOOTER*/

.copyrightFooter__ambiciones {
    font-family: sans-serif;
    font-style: italic;
    padding: 70px;
    margin: 0px;
    animation-name: runMe;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.pCopy__ambiciones {
    color: blanchedalmond;
    font-size: large;
    text-align: center;
}/*ANIMACION FOOTER*/

  @keyframes runMe {
    0% {
        background-color: rgba(0, 0, 0, 0.01);
        bottom: 0px
    }
    10% {
        background-color: rgba(0, 0, 0, 0.1)
    }
    20% {
        background-color: rgba(0, 0, 0, 0.2);
        bottom: 30px
    }
    30% {
        background-color: rgba(0, 0, 0, 0.3);
        bottom: 30px
    }
    40% {
        background-color: rgba(0, 0, 0, 0.4);
        bottom: 30px
    }
    50% {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 30px
    }
    60% {
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 50px
    }
    70% {
        background-color: rgba(0, 0, 0, 0.7);
        bottom: 30px
    }
    80% {
        background-color: rgba(0, 0, 0, 0.8);
        bottom: 30px
    }
    90% {
        background-color: rgba(0, 0, 0, 0.9);
        bottom: 50px
    }
    100% {
        background-color: black;
        bottom: 80px
    }
}
  /*responsive*/
  /*MOBILE FIRST*/
@media only screen and (max-width:320px){
    #animate{
        width: 320px;
        left: 0;
    }
    .contenedor__total{
        padding: 0px;
        margin: 0px;
    }
    .navbar-brand{
        padding-left: 7px;
    }
    #navbarNav{
        padding-left: 50px;
        font-size: 0.8em;
        color: white;
        position: relative;
        left: 0px;
    }
    main ul{
        padding: 0px;
    }
    .h1__estudios {
        font-size: 2em;
        padding-left: 5px;
        margin-right: 20px;
    }
    .titulos__estudios{
        font-size: 24px;
        padding-left: 12px;
    }
    .p__links{
        width: 100px;
        height: 100px;
        font-size: 14px;
        text-decoration: none;
    }
    p .links_estudios{
        width: 100px;
        height: 100px;
        font-size: 18px;
        text-decoration: none;
    }
    .letras__estudios{
        font-size: 18px;
        text-align: left;
        padding-left: 20px;
    } 
}

@media only screen and (max-width:375px){
    body{
        padding: 0px;
        margin: 0px;
    }
    #navbarNav{
        padding-left: 50px;
        font-size: 0.8em;
        color: white;
        position: relative;
        left: -600px;
    }

    #animate{
        width: 320px;
        left: 0;
        margin: 0;
    }
}
@media only screen and (max-width:425px){
    body{
        padding: 0px;
        margin: 0px;
    }
    #navbarNav{
        padding-left: 50px;
        font-size: 0.8em;
        color: white;
        position: relative;
        left: 0px;
    }



}
@media only screen and (max-width:768px){
    body{
        padding: 0px;
        margin: 0px;
    }
    .navbar-brand{
        padding-left: 0px;
    }
    #navbarNav{
        padding-left: 0px;
        font-size: 0.8em;
        color: white;
        position: relative;
        left: 0px;
    }
}
@media only screen and (max-width:1024px){
    body{
        padding: 0px;
        margin: 0px;
    }
    #navbarNav{
        padding-left: 550px;
        font-size: 0.8em;
        color: white;
        position: relative;
    }

}
@media only screen and (max-width:1440px){
    body{
        padding: 0px;
        margin: 0px;
    }
    .navbar-brand{
        padding-left: 0px;
        font-size: 2em;
    }
    #navbarNav{
        padding-left: 850px;
    }
 
}