
/*CSS*/
*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    box-sizing: border-box;
}

/*NAVBAR UNIVERSAL*/
header{
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
}
header.sticky{
    background:black;
    padding: 20px 100px;
    width: 100%;
}
header .logo{
    color: aliceblue;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
}
header ul{
    position: relative;
    display: flex;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    padding: 10px 60px;
    margin: 0px 20px;
    text-transform: uppercase;
    text-decoration:none ;
    letter-spacing: 2.2px;
    overflow: hidden;
    background: transparent;
    z-index: 1;
    transition: 0.3s;
    color: white;
}
header ul:hover li a 
{
    opacity: 0;
}
header ul li a:hover
{
    transform: scale(1.4);
    z-index: 1000;
    background-color: rgba(0, 17, 255, 0.664);
    opacity: 1;
}
header ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255, 255, 255, 0.493),transparent);
    transform: skewX(45deg);
    transition: 0.4s;

}
header ul li a:hover:before
{
    left: calc(100% + 12px);
    transition: 0.5s;
    transition-delay: 0.4s;
}
/*SECTION*/
section{
    padding: 100px;
}
.banner{
    background: url(../../multimedia/index/3295969.jpg);
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentation{
    margin-left: 24px;
}
.banner h2{
    font-size: 3.0em;
    color: white;
    line-height: 3.0em;
}
.banner h2 b{
    font-size: 2.3em;
    color: white;
    line-height: 2.3em;
    font-weight: 900;
}
.banner h4{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.856);
}
/*NAV*/
.information{
    width: 100%;
    height: 50vh;
    align-items: center;
}
.title{
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 1.8em;
}
h4 b{ 
    padding: 15px;
    font-size: 24px;
    font-weight: 600; 
    color: black;
}
.content{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}
.content .text p{
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    text-align:justify;
    margin: 15px;
    padding-bottom: 20px;
}
.w50{
    min-width: 50%;
}
.image img{
    min-height: 600px;
    max-width: 100%;
}
/*RESPONSIVE*/
@media (max-width:991px){
    header,
    header.sticky
    {
        padding: 20px 0px;
        z-index: 1000;
    }
    .menu{
        position: fixed;
        top: 75px;
        left: 0;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: rgb(255, 255, 255);
        transition: 0.9s;
        z-index: 999;
        border-top: 1px solid white;
        color: white;
    }
    .menu.active{
        left: 0;
    }
    header ul li a {
        color: #111;
    }
    .toggle{
        width:40px ;
        height: 40px;
        background: url(https://drive.google.com/file/d/1EB1DcPOgJkX7N_GmpRO9wACM2t90foHA/view?usp=sharing);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active{
        background: url(https://drive.google.com/file/d/18XLACysOU-OoDLjFzduOBQWW3qzdaN1m/view?usp=sharing);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
}